:root{
    --oscuro:#07070A;
    --azulOscuro:#0A1128;
    --azulClaro:#006FE6;
    --blanco:#FEFCFB;
    --titulos:'baloo 2', cursive;
    --parrafos:'montserrat', sans-serif;
    --anaranjado: 	#FF7F00;
    --verde:#008000;
    --morado:#800080;
    --marron:#8d4925;
    --plomo:	#8a9597;
}

body{
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#descripcion{
    resize: none;
}

.centrado{
    text-align: center;
    vertical-align: middle;
}

.bg-white{
    background-color: #ffffff;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.logo h2{
    font-size: 3rem;
}
.logo h2 span{
    color: var(--anaranjado)
}
